
.root {
    -fx-background-color: white;
    -fx-font-family: "Karla";
}

.button,
.button:focused,
.text-field,
.text-field:focused,
.combo-box,
.combo-box:focused {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button {
    -fx-cursor: hand;
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0.0, 0, 0);
}

.combo-box-popup .list-view .list-cell {
    -fx-cursor: hand;
}

/*
 * Search
 */

.Search {
}

.Search .label {
    -fx-font-size: 18pt;
    -fx-padding: 4 14;
    -fx-background-color: #34495e;
    -fx-text-fill: #ffffff;
    -fx-cursor: hand;
}

.Search .label:hover {
    -fx-text-fill: #eeeeee;
}

.Search .combo-box {
    -fx-background-color: #3498db;
    -fx-font-size: 12pt;
    -fx-text-fill: #fff;
    -fx-color: #fff;
}

.Search .combo-box:hover {
    -fx-background-color: #ffffff;
}

.Search .combo-box .arrow {
    -fx-background-color: #ffffff;
}

.Search .combo-box:hover .arrow {
    -fx-background-color: #2980b9;
}

.Search .combo-box-popup .list-view .list-cell {
    -fx-padding: 10;
}

.Search .combo-box .list-cell:selected,
.Search .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #fff;
    -fx-background-color: #3498db;
}

.Search .text-field {
    -fx-font-size: 12pt;
    -fx-background-color: #2980b9;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.6);
}

.Search .text-field:hover {
}

.Search .button {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
    -fx-font-size: 12pt;
    -fx-padding: 4 20;
}

.Search .button:hover {
    -fx-text-fill: #3498db;
    -fx-background-color: #ffffff;
}

/*
 * Listing
 */

.Listing {
}

.Listing .list-view {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.Listing .list-view .list-cell {
    -fx-padding: 20;
    -fx-opacity: 0.7;
    -fx-cursor: hand;
}

.Listing .list-view .list-cell:hover {
    -fx-opacity: 1;
}

.Listing .list-view .list-cell,
.Listing .list-view .list-cell:hover,
.Listing .list-view .list-cell:focused,
.Listing .list-view .list-cell:selected {
    -fx-background-color: #ffffff, #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #eeeeee;
}

.Listing .list-view .list-cell .label {
    -fx-text-fill: #000000;
    -fx-padding: 2 20;
}

.Listing .list-view .list-cell .manufacturer {
    -fx-padding: 6 20 0 20;
    -fx-font-size: 10pt;
}

.Listing .list-view .list-cell .name {
    -fx-padding: 0 20 2 20;
    -fx-font-size: 14pt;
}

.Listing .list-view .list-cell .price {
    -fx-padding: 0 20 6 20;
    -fx-font-size: 10pt;
}

.Listing .list-view .list-cell .Rating {
    -fx-padding: 6 20;
}

.Listing .list-view .list-cell .Rating .rating-stars .label {
    -fx-font-size: 16pt;
    -fx-padding: 0;
}

.Listing .list-view .list-cell .button {
    -fx-background-color: #ffffff;
    -fx-font-size: 8pt;
    -fx-padding: 8 12;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-width: 1;
    -fx-border-color: #3498db;
    -fx-text-fill: #3498db;
}

.Listing .list-view .list-cell .button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #3498db;
}

.Listing .list-view .list-cell .button.remove {
    -fx-border-color: #e74c3c;
    -fx-text-fill: #e74c3c;
}

.Listing .list-view .list-cell .button.remove:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e74c3c;
}

.Listing .list-view .list-cell .button.delete {
    -fx-border-color: #e74c3c;
    -fx-text-fill: #e74c3c;
}

.Listing .list-view .list-cell .button.delete:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e74c3c;
}

/*
 * Filter
 */

.Filter {
    -fx-background-color: #f7f7f7;
}

.Filter .group {
    -fx-padding: 10 20;
    -fx-border-width: 0 0 2 0;
    -fx-border-color: #eeeeee;
}

.Filter .group > .label {
    -fx-padding: 6;
    -fx-font-size: 8pt;
}

.Filter .group .rating-group {
    -fx-padding: 0 10 0 0;
}

.Filter .group .rating-group > .label {
    -fx-padding: 0 10 0 0;
    -fx-font-size: 8pt;
}

.Filter .group .combo-box {
    -fx-background-color: #ffffff;
}

.Filter .group .combo-box:hover {
    -fx-background-color: #3498db;
}

.Filter .group .combo-box .arrow {
    -fx-background-color: #444444;
}

.Filter .group .combo-box:hover .arrow {
    -fx-background-color: #ffffff;
}

.Filter .group .combo-box-popup .list-view .list-cell {
    -fx-border-width: 0;
    -fx-padding: 10 14;
    -fx-cursor: hand;
}

.Filter .group .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #2980b9;
    -fx-background-color: #f7f7f7;
}

.Filter .group .combo-box .list-cell:selected {
    -fx-text-fill: #000;
    -fx-background-color: #fff;
    -fx-padding: 10 14;
}

.Filter .group .text-field {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
}

.Filter .group .range-slider {
    -fx-padding: 0 20;
}

/*
 * Selection
 */

.Selection,
.Selection .list-view {
    -fx-background-color: #f7f7f7;
}

.Selection .list-view .list-cell {
    -fx-cursor: default;
    -fx-background-color: #f7f7f7;
}

.Selection .list-view .list-cell:hover {
    -fx-background-color: #eeeeee;
}

.Selection .list-view .list-cell .label {
    -fx-padding: 0;
}

/*
 * Action
 */

.button.action {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
    -fx-font-size: 10pt;
    -fx-padding: 14;
}

.button.action:hover {
    -fx-background-color: #2980b9;
}

/*
 * Detail
 */

.Detail {
}

.Detail .content,
.Detail .content:focused {
    -fx-background-color: -fx-box-border, -fx-control-inner-background;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0.0, 0, 0);
    -fx-background-color: #f7f7f7;
}

.Detail .image {
    -fx-padding: 30 50;
}

.Detail .heading {
    -fx-padding: 20 30;
}

.Detail .heading .ManufacturerField {
    -fx-padding: 0 0 10 0;
}

.Detail .heading .ManufacturerField .text-field {
    -fx-font-size: 14pt;
}

.Detail .heading .NameField .text-field {
    -fx-font-size: 20pt;
}

.Detail .text-field {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #dddddd;
}

.Detail .text-field:focused {
    -fx-border-color: #3498db;
}

.Detail .text-field:hover {
    -fx-background-color: #eeeeee;
}

.Detail .form > * {
    -fx-padding: 4 20;
}

.Detail .form .GroupLabel {
    -fx-padding: 10 20;
}

.Detail .form .GroupLabel .label {
    -fx-font-weight: bold;
}

.Detail .combo-box {
    -fx-background-color: #ffffff;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #dddddd;
}

.Detail .combo-box:focused {
    -fx-border-color: #3498db;
}

.Detail .combo-box:hover {
    -fx-background-color: #3498db;
}

.Detail .combo-box .arrow {
    -fx-background-color: #444444;
}

.Detail .combo-box:hover .arrow {
    -fx-background-color: #ffffff;
}

.Detail .combo-box-popup .list-view .list-cell {
    -fx-border-width: 1 0 0 0;
    -fx-padding: 10 14;
    -fx-cursor: hand;
}

.Detail .combo-box-popup .list-view .list-cell:hover {
    -fx-text-fill: #2980b9;
    -fx-background-color: #f7f7f7;
}

.Detail .combo-box .list-cell:selected {
    -fx-text-fill: #000;
    -fx-background-color: #fff;
    -fx-padding: 10 14;
}

.Detail .actions {
    -fx-padding: 10 40 40 40;
}

.Detail .actions .button {
    -fx-background-color: #3498db;
    -fx-text-fill: #fff;
    -fx-padding: 14 20;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.Detail .actions .button:hover {
    -fx-background-color: #2980b9;
}

.Detail .actions .button.delete {
    -fx-background-color: #e74c3c;
}

.Detail .actions .button.delete:hover {
    -fx-background-color: #c0392b;
}

.Detail .reviews {
    -fx-padding: 0 40 40 40;
}

.Detail .reviews > .label {
    -fx-font-size: 16pt;
    -fx-padding: 20 0;
}

.Detail .reviews .list-view {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.Detail .reviews .list-view .list-cell {
    -fx-padding: 20;
}

.Detail .reviews .list-view .list-cell,
.Detail .reviews .list-view .list-cell:hover,
.Detail .reviews .list-view .list-cell:focused,
.Detail .reviews .list-view .list-cell:selected {
    -fx-background-color: #ffffff, #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #eeeeee;
}

.Detail .reviews .list-view .list-cell .label,
.Detail .reviews .list-view .list-cell:hover .label,
.Detail .reviews .list-view .list-cell:focused .label,
.Detail .reviews .list-view .list-cell:selected .label {
    -fx-text-fill: #444444;
}

.Detail .reviews .list-view .list-cell .Rating {
    -fx-padding: 0 14 0 0;
}

.Detail .reviews .list-view .list-cell .Rating .rating-stars .label {
    -fx-font-size: 16pt;
    -fx-padding: 0;
}

.Detail .reviews .list-view .list-cell .label.text {
    -fx-padding: 10 0 0 0;
    -fx-font-style: italic;
}

.Detail .reviews .list-view .list-cell .button {
    -fx-background-color: #ffffff;
    -fx-font-size: 8pt;
    -fx-padding: 8 12;
    -fx-border-radius: 50;
    -fx-background-radius: 50;
    -fx-border-width: 1;
    -fx-border-color: #3498db;
    -fx-text-fill: #3498db;
}

.Detail .reviews .list-view .list-cell .button:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #3498db;
}

.Detail .reviews .list-view .list-cell .button.delete {
    -fx-border-color: #e74c3c;
    -fx-text-fill: #e74c3c;
}

.Detail .reviews .list-view .list-cell .button.delete:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #e74c3c;
}

.Detail .Rating {
    -fx-padding: 14 20;
}

.Detail .Rating.overall .rating-stars .label {
    -fx-font-size: 24pt;
}

.Detail .text-area {
    -fx-padding: 0;
    -fx-background-color: #ffffff;
    -fx-border-width: 1;
    -fx-border-color: #dddddd;
}

.Detail .text-area:hover,
.Detail .text-area:focused {
    -fx-border-color: #bbbbbb;
}

.Detail .text-area .content {
    -fx-padding: 10;
    -fx-background-color: #ffffff;
}

.Detail .button.submit {
    -fx-cursor: hand;
    -fx-border-width: 1;
    -fx-background-color: #ffffff;
    -fx-text-fill: #3498db;
    -fx-border-color: #3498db;
    -fx-padding: 14;
    -fx-border-radius: 30;
    -fx-background-radius: 30;
}

.Detail .button.submit:hover {
    -fx-text-fill: #ffffff;
    -fx-background-color: #3498db;
}

/*
 * Comparison
 */

.Comparison {
}

.Comparison .list-view {
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-radius: 0;
    -fx-background-insets: 0 0 0 0, 0, 0, 0;
}

.Comparison .list-view .list-cell {
    -fx-padding: 20;
}

.Comparison .list-view .list-cell,
.Comparison .list-view .list-cell:hover,
.Comparison .list-view .list-cell:focused,
.Comparison .list-view .list-cell:selected {
    -fx-background-color: #ffffff, #ffffff;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #eeeeee;
    -fx-padding: 20 30;
}

.Comparison .list-view .list-cell .label,
.Comparison .list-view .list-cell:hover .label,
.Comparison .list-view .list-cell:focused .label,
.Comparison .list-view .list-cell:selected .label {
    -fx-text-fill: #444444;
}

.Comparison .list-view .list-cell .manufacturer {
    -fx-padding: 20 0 4 0;
    -fx-font-size: 10pt;
}

.Comparison .list-view .list-cell .name {
    -fx-padding: 0 0 10 0;
    -fx-font-size: 14pt;
}

.Comparison .list-view .list-cell .Rating {
    -fx-padding: 10 0 0 0;
}

.Comparison .list-view .list-cell .Rating .rating-stars .label {
    -fx-padding: 0;
}

/*
 * Separator
 */

.separator .outer {
    -fx-padding: 10 20;
}

.separator .inner {
    -fx-border-color: #dddddd;
    -fx-border-width: 1 0 0 0;
}

/*
 * UnitTextField
 */

.UnitTextField {
    -fx-background-color: transparent;
    -fx-border-width: 0 10 0 0;
    -fx-border-color: transparent;
}

.UnitTextField .text-field {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #dddddd;
}

.UnitTextField .text-field:focused {
    -fx-border-color: #3498db;
}

.UnitTextField .label {
    -fx-background-color: #ffffff;
    -fx-padding: 10;
    -fx-text-fill: #34495e;
    -fx-font-size: 8pt;
}

.UnitTextField:hover .text-field,
.UnitTextField:hover .label {
    -fx-background-color: #eeeeee;
}

/*
 * MultipleSelector
 */

.MultipleSelector {
}

.MultipleSelector .container {
    -fx-padding: 10 0 0 0;
}

.MultipleSelector .container > * {
    -fx-padding: 0 10 10 0;
}

.MultipleSelector .check-box {
    -fx-cursor: hand;
}

.MultipleSelector .check-box .text {
    -fx-font-size: 8pt;
}

.MultipleSelector .check-box *.box {
    -fx-background-color: #ffffff;
    -fx-padding: 4;
    -fx-border-width: 0 0 0 2;
    -fx-border-color: #dddddd;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.MultipleSelector .check-box:hover *.box {
    -fx-background-color: #eeeeee;
}

.MultipleSelector .check-box:selected *.box {
    -fx-background-color: #3498db;
    -fx-border-color: #2980b9;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.MultipleSelector .check-box:selected .mark {
    -fx-background-color: #ffffff;
}

/*
 * Rating
 */

.Rating .rating-label {
    -fx-font-size: 8pt;
}

.Rating .rating-stars .label.star {
    -fx-font-size: 16pt;
    -fx-text-fill: #aaaaaa !important;
    -fx-cursor: hand;
}

.Rating .rating-stars .label.star.active {
    -fx-text-fill: #f39c12 !important;
}
